# Directory-based project format:
.idea/
classes/

# File-based project format:
*.iml

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

#Maven

lib/
target/

# Client

client/npm-debug.log
client/node_modules
client/typings

client/app/*.js
*.js.map