# Directory-based project format:
.idea/
classes/

# File-based project format:
*.iml

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

#Maven

lib/
target/

# Client

npm-debug.log
node_modules
typings

*.js
*.js.map
!clean-blog.min.js
