<article *ngFor="let comment of comments">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    <p>
                        <span style="font-weight: bold;">{{comment.author}}</span>
                        <br/>
                        {{comment.review}}
                        <br/>
                        <span style="font-style: italic;">{{comment.date}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>